<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Manager</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Thư viện sách</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/borrower">Danh sách người dùng đang mượn sách</a>
                </li>
            </ul>
            <form class="d-flex" role="search" action="/return-book">
                <input class="form-control me-2" type="search" placeholder="Nhập mã mượn sách" aria-label="Search"
                       name="code">
                <button class="btn btn-outline-success" type="submit">Trả sách</button>
            </form>
        </div>
    </div>
</nav>
<p th:text="${mess}"></p>
<table class="table table-striped">
    <tr>
        <td>STT</td>
        <td>ID</td>
        <td>Tên sách</td>
        <td>Số lượng</td>
        <td></td>
    </tr>
    <tr th:each="book, count: ${books}">
        <td th:text="${count.count}"></td>
        <td th:text="${book.getId()}"></td>
        <td th:text="${book.getName()}"></td>
        <td th:text="${book.getQuantity()}"></td>

        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    th:attr="onclick=|infoBook(${book.getId()}, ${book.getName()},${book.getQuantity()})|">
                Mượn sách
            </button>
        </td>


    </tr>
</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Mượn sách</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{borrow-book}" th:object="${borrower}" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="idBook" class="form-label">Id sách</label>
                        <input type="hidden" th:field="*{book}" class="form-control" id="idBook"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="nameBook" class="form-label">Tên sách</label>
                        <input type="text" class="form-control" id="nameBook"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Số lượng còn lại</label>
                        <input type="text" class="form-control" id="quantity"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nhập vào họ tên để mượn sách</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name"
                               aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                    <button type="submit" class="btn btn-primary">Mượn sách</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
</script>
</body>
</html>